<div class="center hero-unit">
  <h1>Small Business Customer Portal</h1>

  <h2>
    SITE IS CURRENTLY IN BETA.   Only one customer is currently allowed in.   You may sign up, but you will not be able to access any interior pages.


    This site is intended to be a custom built Customer Management System designed for small businesses with a single owner or a generally very small ownership and small staff with particular aim at businesses providing a direct service to clients.   Aesthetics, massage, hair, nails, etc.   

    Our aim is to make it easy to follow up with customers and track their history by automating follow ups with them and helping identify customers who haven't been with you in a while so you can follow up with them.   Our current beta tester will help customize the site for their business before we ask others to help.

    Thanks.
    Hamco.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="row-fluid">
	<div class="span 2">
		<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	</div>
	<div class="span1 pull-right">
		<%= link_to image_tag("digitalocean.png", alt: "Digital Ocean"), 'http://digitalocean.com' %>
	</div>
</div>





