<div class="row">
  <div class="span6">
    <h1>Editing customer for <%= @business.name %></h1>

    <%= render 'form' %>

    <%= link_to 'Show', [@business, @customer] %> |
    <%= link_to 'Back', business_customers_path(@business) %>
  </div>
</div>
