<div class="row">
  <div class="span6">
    <h1>New customer for</h1>
    <h2><%= link_to @business.name %></h2>

    <%= render 'form' %>

    <%= link_to 'Back', business_customers_path(@business) %>
  </div>
</div>
