<footer class="footer">
  <small>
    &copy; <%= copyright_notice_year_range(2009) %> <%= link_to "Hamco Internet Solutions", "http://hamcois.com" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>